/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6 {
 font-family: 'Merriweather', serif;
 font-weight: 700;
}

p {
  font-family: 'Muli', sans-serif;
}

/* Makes all links green. */
a {
  color: #698275;
}

/* Makes button text color white */
.btn > a {
  color: #fff;
}

.btn-primary {
  background-color: #698275;
  border-color: #698275;
}

 .jumbotron {
   height: 100vh;
 }

/* Makes profile header half the size of the viewport */
 .profile-jumbotron {
   height: 50vh;
 }

/*Adds background image to Welcome page*/
 .banner {
   background: url('/welcome.jpg') no-repeat center center;
   background-size: cover;
 }

/*Adds background image to Registration page*/
 .registration-banner {
   background: url('/registration.jpg') no-repeat center center;
   background-size: cover;
 }

/*Adds background image to Profile header*/
 .profile-banner {
   background: url('/profile-header.jpg') no-repeat bottom center;
   background-size: cover;
 }

 .officalp-banner {
   /* background-color: #A4CCC0; */
 }

 .custom-bg {
   width: 300px;
   padding: 30px 10px 15px 25px;
   background-color: #E9EBE9;
 }


/* Centers form on login page.*/
 .custom-select {
  width: 50%;
  position: relative;
  left: 275px;
 }
.form-place {
  position: relative;
  top: 125px;
}


/* Centers form on registration page.*/
.form-control {
  width: 50%;
  position: relative;
  left: 275px;
}
/* Centers submit button on registration page.*/
#new_user_button {
  position: relative;
  left: 275px;
}

/* Centers registration error messages. */

.alert {
  width: 50%;
  height: 75%;
  position: relative;
  left: 275px;
}


.bg-green {
  color: #A4CCC0
}

/* <p class="btn-special" id="special-link"> on profile page */

.btn-special {
    display: inline-block;
    background-color: #698275;
    color: #fff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-matches {
  display: inline-block;
  background-color: #698275;
  color: #fff;
  font-weight: 400;
  border: 1px solid transparent;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: .25rem;
}

div.btn-placement {
  position: absolute;
  bottom: 275px;
}

.special-link {
  color: #fff!important;
}
