/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3, h4, h5, h6 {
 font-family: 'Merriweather', serif;
 font-weight: 700;
 color: #333;
}

p {
  font-family: 'Muli', sans-serif;
}

a {
  color: #698275;
}

.btn-primary {
  background-color: #698275;
  border-color: #698275;
}

 .jumbotron {
   height: 100vh;
 }

 .profile-jumbotron {
   height: 50vh;
 }

 .banner {
   background: url('/welcome.jpg') no-repeat center center;
   background-size: cover;
 }

 .registration-banner {
   background: url('/registration.jpg') no-repeat center center;
   background-size: cover;
 }

 .profile-banner {
   background: url('/profile-header.jpg') no-repeat bottom center;
   background-size: cover;
 }

 .officalp-banner {
   /* background-color: #A4CCC0; */
 }

 .potential-banner {
   background: url('/potential.jpg') no-repeat bottom center;
   background-size: cover;
 }

 .custom-bg {
   width: 300px;
   padding: 30px 10px 15px 25px;
   background-color: #E9EBE9;
 }

.form-place {
  position: relative;
  top: 125px;
}

.form-control {
  width: 50%;
  position: relative;
  left: 275px;
}

#new_user_button {
  position: relative;
  left: 275px;
}

.bg-green {
  color: #A4CCC0
}

/* <p class="btn-special" id="special-link"> on profile page */
.btn-special {
    display: inline-block;
    background-color: #698275;
    color: #fff!important;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#special-link {
  color: #fff!important;
}
